.rent-car-details{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 75vh;
}

.rent-car-details * {
    font-size: 1.1vw;

}

#upload{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: self-end;
}

#seperate_id{
    margin-top: 5vh;
    margin-right: 2vh;
}

#seperate_id .text{
    text-align: left;
}
.button a {
    margin-left: 2vw;
    margin-right: 2vw;
}

.label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: #707070;
}

.label-text {
    margin-left: 16px;
}

.toggle {
    margin-top: 2vh;
    border: solid 0.01px;
    isolation: isolate;
    position: relative;
    height: 30px;
    width: 60px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow:
            2px 2px 2px 0 #707070,
            2px 2px 2px 0 #707070,
            2px 2px 2px 0 #707070,
            2px 2px 2px 0 #707070;
}

.toggle-state {
    display: none;
}

.indicator {
    height: 100%;
    width: 200%;
    background: red;
    border-radius: 15px;
    transform: translate3d(-75%, 0, 0);
    transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
}

.toggle-state:checked ~ .indicator{
    background-color: green;
    transform: translate3d(25%, 0, 0);
}

.add-vehicle{
    margin-top: 2.5vh;
}

.add-vehicle .button{
    height: 6vh;
    width: auto;
}


.renting_details ul, .vehicle_details ul .rental_details ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 55vh;
    padding: 1vh 0 1vh 0;
    margin-block-start: 0;
    margin-block-end: 1vh;
    margin-inline-start: 1vh;
    margin-inline-end: 1vh;
    padding-inline-start: 0;
}

.edit-vehicles-details ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 55vh;
    padding: 1vh 0 1vh 0;
    margin-block-start: 0;
    margin-block-end: 1em;
    margin-inline-start: 1em;
    margin-inline-end: 1em;
    padding-inline-start: 0;
}

li > .text{
    text-align: left;
}

li > .input{
    margin: 0;
    line-height: normal;
}

li .button{
    height: 4vh;
    width: auto;
    margin: 0;

}


.header{
    padding: 0 0 0 0;
    margin-left: 1vh;
    font: normal normal 300 1.625em/2.25em Open Sans;
    color: #707070;
    text-align: left;
}

.errors{
    margin-left: 1vh;
    padding: 0 0 1em 0;
    font: normal normal 300 1em/1em Open Sans;
    color: #707070;
    text-align: left;
}

.dropbtn {
    padding: 16px;
    border: none;
    cursor: pointer;
}


.dropdown {
    position: relative;
    display: inline-block;
    border-radius: 25px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #707070;
    border-radius: 17px 17px 0 0;
    color: floralwhite;
}

.dropbtn:hover {
    background-color: #707070;
    border-radius: 17px 17px;
    color: floralwhite;
}

.toggles{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.domcia {
    justify-content: end;
}

.address{
    display: flex;
    justify-content: space-between;
}

.double-row{
    padding: 0 0 0 0;
    width: 10em;
    margin-left: 0;
}

.left{
    text-align: inherit;
}

.extend-width{
    width: 100%;
}